@use "@styles/init/_mixins" as *;

.content-width {
	padding: 0 8px;
}

@include respond(bigmobile) {
	.content-width {
		padding: 0 24px;
	}
}

@include respond(tablet) {
	.content-width {
		padding: 0 36px;
	}
}

@include respond(laptop) {
	.content-width {
		width: 960px;
		margin: 0 auto;
	}
}

@include respond(desktop) {
	.content-width {
		padding: 0;
		width: 1120px;
	}
}

body {
	min-width: 320px;
}

.page {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;
}
